.princing {
  min-height: 800px;
}

.container {
  background-color: white;
  min-height: 400px;
  max-width: 100% !important;
  padding: 10px;
}

.row {
  width: 100% !important;
  padding: 10px;
}

.card {
  padding:10px !important;
}
