.navbar {
    background-color: rgb(9, 16, 117);
    
}

.navbar-light .navbar-toggler-icon {
 background-color: white;
 margin: 10px !important;
 padding: 10px !important;
 border-radius: 15px ;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    color: white !important;
}